* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid; */
}

body {
  font-family: Poppins, serif;
  background: #D2EAF5;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  transition: all 0.3s ease;
  visibility: visible;
  background: #D2EAF5;
  animation : fade 1s infinite;
}

@keyframes fade {
  0% {
    opacity: .9;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .9;
  }
}

.loader.fadeOut {
  opacity: 0;
  visibility: hidden;
}

.loader img {
  width: 50vw;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.3);
}

header .logo {
  display: flex;
  align-items: center;
  width: 10vw;
  height: auto;
}

header .support {
  margin: 0 10px;
  font-size: 1.8rem;
  color: #789;
  cursor: pointer;
  transition: all 0.3s ease;
}

header .support:hover {
  color: #123;
}

header nav {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
}

header nav a {
  position: relative;
  margin: 0 20px;
  font-size: 1.8rem;
  color: #789;
  cursor: pointer;
  transition: all 0.3s ease;
}

header nav a:hover {
  color: #123;
}

header nav a.active i {
  background: linear-gradient(135deg, #002C80 30%, deepskyblue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header nav a.pending i {
  animation: fade 1s infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

header nav a::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  background: #123;
  color: #fff;
  border-radius: 5px;
  z-index: 1;
  transition: all 0.3s ease;
  font-size: 1rem;
  opacity: 0;
  visibility: hidden;
  margin-top: 5px;
}

header nav a:hover::after {
  opacity: 1;
  visibility: visible;
}


.listHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 10px 0;
}

.listHead .listTitle {
  border-radius: 0 30px 30px 0;
  padding: 5px 20px;
  color: #fff;
  letter-spacing: 2px;
  background-color: #456;
}

.listHead .seeMore {
  margin: 0 20px;
  text-decoration: none;
  color: #0ba;
}

.listHead .seeMore:hover {
  color: #000;
}

.listHead .listActions {
  display: flex;
  align-items: center;
  width: 85%;
}

.listHead .arrangeActions {
  display: flex;
  align-items: center;
  overflow-x: auto;
  margin: 0 30px;
  flex-grow: 1;
  border-radius: 30px;
  padding: 5px;
  color: #000;
  background-color: #fff;
}

.listHead .arrangeActions button {
  min-width: 140px;
  margin: 0 4px;
  border: none;
  border-radius: 30px;
  padding: 8px;
  font-family: Poppins, serif;
  color: #000;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.listHead .arrangeActions button:hover {
  background-color: #002d8076;
}

.listHead .listActions button.active {
  color: #fff;
  background-image: linear-gradient(135deg, #002C80 30%, deepskyblue);
}

.listHead .arrangeActions button i {
  margin-left: 5px;
}

/* Home */
.Home .horizontalList {
  display: flex;
  width: 100%;
  overflow-x: auto;
  padding: 10px;
  scroll-behavior: smooth;
}

.verticalList {
  display: grid;
  row-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  padding: 10px;
}

.MovieCard, .PersonCard {
  position: relative;
  min-width: 200px;
  height: auto;
  margin: 0 5px;
  border-radius: 10px;
  transition: all 0.3s ease;
  overflow: hidden;
}
.PersonCard {
  border-radius: 30px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}
.MovieCard:hover img, .PersonCard:hover img {
  filter: brightness(50%);
}
.MovieCard:hover .info, .PersonCard:hover .info {
  bottom: 0;
}
.MovieCard:hover .actions {
  display: block;
}

.MovieCard img, .PersonCard img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.MovieCard .info, .PersonCard .info {
  position: absolute;
  bottom: -50%;
  width: 100%;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  line-height: 25px;
  color: #000;
  background-color:  #fff;
  transition: all 0.2s ease;
}

.MovieCard .info .title, .PersonCard .info .name {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.MovieCard .info .title a, .PersonCard .info .name a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.MovieCard .info .title a:hover, .PersonCard .info .name a:hover {
  color: #789;
}

.MovieCard .info .rating {
  color: #0ba;
}
.PersonCard .info .popularity {
  color: purple;
}

.MovieCard .actions {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  color: #fff;
}

.MovieCard .actions i {
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.MovieCard .actions i:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.loadMoreCard {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-image: linear-gradient(45deg, #000, #333, #555);
  cursor: pointer;
}
.loadMoreCard:hover {
  border: 4px solid #fff;
}

/* Paginator */
.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 40px auto;
  border: 2px solid #123;
  border-radius: 40px;
  padding: 10px;
}

.paginator button, .paginator .pageNumber {
  min-width: 40px;
  margin: 0 5px;
  border: none;
  border-radius: 30px;
  padding: 8px 40px;
  text-align: center;
  font-size: 1rem;
  font-family: Poppins, serif;
  color: #fff;
  background: #123;
  cursor: pointer;
}
.paginator button:hover {
  background-color: #000;
}

.paginator button i {
  margin: 0 10px;
}

.paginator .pageNumber {
  color: #000;
  font-weight: 900;
  background: #fff;
}

/* Search */
.pageTitle {
  margin: 20px;
}

.Search .search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  border: 2px solid #789;
  border-radius: 40px;
  padding: 10px;
}

.Search .search input {
  flex-grow: 1;
  margin: 0 10px;
  border: none;
  outline: none;
  border-radius: 30px;
  padding: 8px 40px;
  font-size: 1rem;
  font-family: Poppins, serif;
  background: #fff;
}

.noResults {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #456;
}

/* Movie Page */
.Movie {
  display: grid;
  grid-template-areas: 
  "nav nav"
  "movie similar";
  grid-template-rows: 8vh 1fr;
  grid-template-columns: 55vw 1fr;
  padding: 10px;
}

.Movie .movieNav {
  grid-area: nav;
  display: flex;
  align-items: center;
  padding: 10px;
}

.Movie .movieNav .backBtn {
  margin-right: 20px;
  border-radius: 20px;
  padding: 5px 20px;
  text-decoration: none;
  color: #567;
  font-size: 1.2rem;
  font-weight: 900;
  background-color: #fff;
}
.Movie .movieNav .backBtn:hover {
  color: #fff;
  background-color: #456;
}

.Movie .movieNav .backBtn i {
  margin-right: 5px;
}

.Movie .movieInfo {
  height: fit-content;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.4);
}

.Movie .movieContent > div {
  margin: 20px 0;
} 

.Movie .showcase {
  display: flex;
}

.showcaseInfo p, .showcaseInfo button {
  margin: 10px 0;
  font-size: 1.2rem;
}

.backdrop, .backdropFB {
  width: 50%;
  border-radius: 20px;
  margin-right: 20px;
  aspect-ratio: 16/9;
}
.Movie .backdropFB {
  background-image: linear-gradient(45deg, #456 50%, #789 50%);
}

.Movie h1 {
  width: 26vw;
  white-space: nowrap;
  font-size: 2rem;
  font-weight: 900;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.movieStarBtn {
  border: 5px solid #fff;
  border-radius: 30px;
  padding: 6px 20px;
  font-weight: 900;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: rgb(0, 94, 255);
  cursor: pointer;
}
.movieStarBtn:hover {
  border-style: double;
}

.properties {
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}

.property span {
  font-weight: bold;
}

.keyword, .genre {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.Movie .similarMovies {
  grid-area: similar;
  padding: 10px;
}

.similarMoviesTitle {
  padding-left: 10px;
}

.similarMovies .similarMovie {
  display: flex;
  margin: 5px 0;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  color: #000;
}
.similarMovie:hover {
  background-color: #fff;
}

.similarTN, .similarTNFallback {
  width: 25%;
  margin-right: 10px;
  border-radius: 10px;
}
.similarMovie .similarTNFallback {
  aspect-ratio: 16/9;
  background-image: linear-gradient(45deg, #456 50%, #789 50%);
}

.similarMovieTitle {
  width: 380px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}

.darkCorner {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 30px 30px rgba(0, 0, 0, 0.7);
  backdrop-filter: saturate(10%);
  z-index: 1;
  height: 5vh;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: #fff;
  text-align: center;
  background-color: #001;
}

/* Scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  header .logo {
    width: 200px;
  }
  nav, .paginator {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    z-index: 5;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
  }
  nav {
    bottom: 0;
  }
  .paginator {
    padding: 5px;
    bottom: 4%;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .paginator .pageNumber, .paginator button {
    font-size: 1rem;
    padding: 2px 0;
  }
  .paginator button {
    width: 80px;
  }
  .discover .MovieCard {
    width: 100%;
    font-size: 1.8rem;
  }
  .MovieCard .title {
    margin: 5px 0;
    height: auto;
  }
  .MovieCard .actions {
    margin: 10px;
    padding: 10px;
    font-size: 2rem;
  }
  .listActions {
    width: auto;
    overflow-x: scroll;
  }
  .listHead .arrangeActions {
    width: 200px;
    margin: 0;
  }
}